# Archivos pesados / entrada
input/*.mp4
input/*.MP4
input/*.mov
input/*.MOV
input/*.gpx
input/*.GPX

# Salidas generadas
output/frames/
output/final/
output/previews/
output/data/

# Temporales
temp/
_temporales_borrar/

# Recursos binarios / fuentes
resources/font/*.otf
resources/font/*.ttf

# Python cache
__pycache__/
*.pyc

# Videos/imágenes sueltas
*.mp4
*.MP4
*.png
*.jpg
*.jpeg

# Assets oficiales de la aplicacion
!resources/assets/
!resources/assets/logo.png
!resources/assets/iso.png

# Build ejecutable UI
build/
dist/
*.spec
